body{
    margin: 0;
    background-color: #ffffff;
}

h1{
    font-size: 70px;
    float: unset;
    color: #FFFFFF;
    margin: 0;
}

/* Header*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    background-color: #FFFFFF; 
}

header a{
    text-decoration: none;
    color: black;

}

/*Headerlogo*/
.logo{
    display: flex;
    align-items: center;
    font-size: 10px;
}

.logo img{
    width: 29px;  
    align-items: center;

}

/*Headermenu */
menu{
    margin: 0 auto;
    display: flex;

}

.menu-link{
    align-items: center;
    justify-content: space-between;
    font-weight: 40;
    padding: 30px 20px;
}

/*Headerbotones */
button{
    padding: 10px 20px ;
    border-radius: 30px;
    text-align: center;
}
.menu-link button{
    background-color: #41CBF6;
    border: #41CBF6;
    color: #FFFFFF;
}
.botoneslogin button{
    background: #FFFFFF;
    border: 2px solid #000000;

}


/*main*/

.logobanner{
    width: 40%;
}

.fotosbanner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #9B9EE2;

}



/*main.centro*/
article{
    padding: 30px 50px;
    text-align: center;
    margin: 30px 40px

    ;
}
div.donacionesvoluntariado {
    background-color: #4d51c3;
    margin: 0

    ;
}
div.donacionesvoluntariado button{
    background-color: #41CBF6;
    align-items: center
    ;
}


h3{
    background-color: #4d51c3;
    margin: 0;
}
.contenedor a {
    text-decoration: none;
    color: #ffffff;
    background-color: #9B9EE2;
    font-size: 40px;
    padding: 40px 40px;
}
.contenedor p{
    color: #000000;
    background-color: #FFFFFF;
    font-size: 18px;
    padding: 10px 25px;
    margin: 0;
}

section{
    background-color: #9B9EE2;
    display: column;
    text-align: center!important;
    align-items: flex-end;
    margin: 0;
    

}


.mensajeinicio{
    background-color: #FFFFFF;
}

.contenedor{
    background-color: #595fcf;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size:42px;
    text-align: center;
}

/* Footer*/
div.logo-textofoot{
    display: column;

}
.itemsfooter{
    background-color: #9B9EE2;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0px;
}

.logofooter{
    align-items: center;
    display: column;
}

@media(max-width: 1027px) {
    main{
            background:#595fcf;
            }
            header{
            flex-direction: column;
            padding: 10px 0;
            margin-right: auto;
            margin-left: auto;
            }
            .botoneslogin{
            padding: 1px 0;
            }
            .logo{
            display: column;
            align-items: center;
            font-size: 10px;
            }
            .menu-link{
            align-items: center;
            justify-content: space-evenly;
            padding: 30px 5px;
            }
            .menu{
                    align-items: center;
                    justify-content: space-between;
                    font-weight: 40;
                    margin: 0px;
            }

            .contenedor{
            flex-direction: column;
            margin-right: auto;
            margin-left: auto;
            }
            .itemsfooter{
                    display: column;
            }
            }
