{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>La casita del Árbol</title>
        <meta name="description"content="Este sitio es una ONG"/>
        <link rel="apple-touch-icon" sizes="57x57" href="static/images/favicon/apple-icon-57x57.png"/>
        <link rel="apple-touch-icon" sizes="60x60" href="static/images/favicon/apple-icon-60x60.png"/>
        <link rel="apple-touch-icon" sizes="72x72" href="static/images/favicon/apple-icon-72x72.png"/>
        <link rel="apple-touch-icon" sizes="76x76" href="static/images/favicon/apple-icon-76x76.png"/>
        <link rel="apple-touch-icon" sizes="114x114" href="static/images/favicon/apple-icon-114x114.png"/>
        <link rel="apple-touch-icon" sizes="120x120" href="static/images/favicon/apple-icon-120x120.png"/>
        <link rel="apple-touch-icon" sizes="144x144" href="static/images/favicon/apple-icon-144x144.png"/>
        <link rel="apple-touch-icon" sizes="152x152" href="static/images/favicon/apple-icon-152x152.png"/>
        <link rel="apple-touch-icon" sizes="180x180" href="static/images/favicon/apple-icon-180x180.png"/>
        <link rel="icon" type="image/png" sizes="192x192"  href="static/images/favicon/android-icon-192x192.png"/>
        <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon/favicon-32x32.png"/>
        <link rel="icon" type="image/png" sizes="96x96" href="static/images/favicon/favicon-96x96.png"/>
        <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon/favicon-16x16.png"/>
        <link rel="manifest" href="images/favicon/manifest.json"/>
        <meta name="msapplication-TileColor" content="#ffffff"/>
        <meta name="msapplication-TileImage" content="static/images/favicon/ms-icon-144x144.png"/>
        <meta name="theme-color" content="#ffffff"/> 

        <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    </head>
        <body>
            <header>     
                        <a href="#" class="logo">
                                <img src="{% static 'images/iconoONG.png' %}" alt="logodeONG"class="logo-img">
                                <h2 class="logo-nombre">La casita del Árbol</h2>
                        </a>

                        <div class="menu">
                            <a class="menu-link" href="#">Inicio</a>
                            <a class="menu-link" href="{% url 'quienes_voluntariado' %}"><button>Conocenos</button></a>
                            <a class="menu-link" href="#">Noticias</a>
                            <a class="menu-link" href="#">Eventos</a>
                            <a class="menu-link" href="#"><button>Donaciones</button></a>
                            <a class="menu-link" href="#">Voluntario</a>
                        </div>

                        <div class="botoneslogin">
                            <a href="{% url 'login' %}"> <button>Ingreso</button> </a>
                            <a href="{% url 'formulario' %}"> <button>Registro</button> </a>
                        </div>
            </header>
            <main>
                <div class="fotosbanner">

                    <div class="fotosbannergrupo1">
                        <img src="images/269912780_1319474865148829_960214773882971427_n.jpg" alt="fotosdeong" width="300xp" height="430px">
                        <img src="images/269623143_1315521715544144_211554771695803639_n.jpg" alt="fotosdeong" width="300xp" height="430px">
                        
                            <div class="triangulo1"></div>
                        
                    </div>


                    <div class="centro-banner">

                        <img src="images/iconoONG.png" alt="logodeONG" class="logobanner">
                        <h1>La casita del Árbol</h1>

                    </div>


                    <div class="fotosbannergrupo2">

                            <div class="triangulo2"></div>

                        <img src="images/276193134_1374205709675744_2319099352505045171_n.jpg" alt="fotosdeong" width="300xp" height="430px">
                        <img src="images/283176940_1416086445487670_3772168420486730647_n.jpg" alt="fotosdeong" width="300xp" height="430px">
                    </div>


                </div>

                <section>
                    <div class="mensajeinicio">
                        <h2>Ayudanos a cumplir nuestro objetivo</h2><img src="images/png-transparent-heart-red-heart.png" alt="corazon" width="20px">
                        <p>Somos un grupo de personas que iniciamos un comedor con el fin de<br>
                            realizar talleres de oficios para los chicos y con el sueño de algún día<br>
                            poder tener un refugio. LA UNION Solidaria nos permite realizar<br>
                            almuerzo, es un gran desafío y compromiso con los niños.</p>
                            <a class="menu-link" href="#"><button>Conocenos</button></a>
                            
                    </div>
                </section>


                <div class="contenedor">
                    <article class="ultimoseventos">
                    <p>Nombre del evento</p>
                    <img src="images/293397071_1452385101857804_652986575447189004_n.jpg" alt="evento"  width="350px">
                    <div>
                    <a class="eventoprincipal" href="#">Ultimos Eventos</a>
                    </div>
                    </article>

                    <article class="mensajeninos">
                    <h3>Marca la diferencia y<br>feliz a un niño</h3>
                    <img src="images/fotosnenesinicio.jpg" alt="niños"  max width="500px">
                        <div class="donacionesvoluntariado">
                            <button>Donaciones</button>
                            <button>Voluntario</button>
                        </div>
                    </article>
                
                    <article class="ultimasnoticias">
                    <p>Nombre de Noticia</p>
                    <img src="images/57257062_10213708452841229_6493822248963538944_n.jpg" alt="noticia" max width="350px">
                    <div>
                    <a class="noticiaprincipal" href="#">Ultimas Noticias</a>
                    </div>
                    </article>
                </div>
                <div class="rectangulo"></div>
            </main>
            <footer>
                        <div class="contactoytexto">
                                    <h5>Contacto</h5>
                                    <h6></h6>
                                </div>
                                <div class="logo-textofoot">
                                    <img src="{% static 'images/iconoONG.png' %}" alt="logodeONG" width= "19%;">
                                    <h6>La Casita Del Arbol Ayala es una <br>organizacion sin fines de lucro </h6>
                                    
                                </div>
                    
                                <div>
                                    <a class="facebooklink">
                                        <h5>Facebook</h5>
                                    
                                    </a>
                        </div>
            </footer>
        </body>
</html>
