{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>La casita del Árbol</title>
        <meta name="description"content="Este sitio es una ONG"/>
        <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png"/>
        <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png"/>
        <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png"/>
        <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png"/>
        <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png"/>
        <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png"/>
        <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png"/>
        <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png"/>
        <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png"/>
        <link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png"/>
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png"/>
        <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png"/>
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png"/>
        <link rel="manifest" href="images/favicon/manifest.json"/>
        <meta name="msapplication-TileColor" content="#ffffff"/>
        <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png"/>
        <meta name="theme-color" content="#ffffff"/> 

        <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    </head>
        <body>
            <header>     
                        <a href="#" class="logo">
                                <img src="{% static 'images/iconoONG.png' %}" alt="logodeONG"class="logo-img">
                                <h2 class="logo-nombre">La casita del Árbol</h2>
                        </a>

                        <div class="menu">
                            <a class="menu-link" href="#">Inicio</a>
                            <a class="menu-link" href="#">Conocenos</a>
                            <a class="menu-link" href="#">Noticias</a>
                            <a class="menu-link" href="#">Eventos</a>
                            <a class="menu-link" href="#"><button>Donaciones</button></a>
                            <a class="menu-link" href="#">Voluntario</a>
                            
                        </div>

                        <div class="botoneslogin">
                            <a href="{% url 'login' %}"> <button>Ingreso</button> </a>
                            <a href="{% url 'formulario' %}"> <button>Registro</button> </a>
                        </div>
            </header>

            <footer>
                        <div class="contactoytexto">
                                    <h5>Contacto</h5>
                                    <h6></h6>
                                </div>
                                <div class="logo-textofoot">
                                    <img src="images/iconoONG.png" alt="logodeONG" width= "19%;">
                                    <h6>La Casita Del Arbol Ayala es una <br>organizacion sin fines de lucro </h6>
                                    
                                </div>
                    
                                <div>
                                    <a class="facebooklink">
                                        <h5>Facebook</h5>
                                    
                                    </a>
                        </div>
            </footer>
        </body>
</html>
