{% load static %}
<!DOCTYPE html>
<body lang="en">
    <head>
        <meta charset="utf-8" />
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Sobre nosotros</title>
        <meta name="description"content="Este sitio es una ONG"/>
        <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png"/>
        <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png"/>
        <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png"/>
        <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png"/>
        <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png"/>
        <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png"/>
        <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png"/>
        <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png"/>
        <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png"/>
        <link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png"/>
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png"/>
        <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png"/>
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png"/>
        <link rel="manifest" href="images/favicon/manifest.json"/>
        <meta name="msapplication-TileColor" content="#ffffff"/>
        <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png"/>
        <meta name="theme-color" content="#ffffff"/> 

        <!--link rel="stylesheet" href="{% static 'CSS/style.css' %}"-->
        <link href="CSS/quienes_voluntariado.css" rel="stylesheet">
    </head>
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold">Somos una familia, grande muy grande</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
            El comedor y merendero "La Casita del Árbol es una familia grande, donde compartimos diariamente alegrías, tristezas, juegos y risas pero sobre todo somos un grupo de personas comprometidas que dedicamos gran parte de nuestros días a mejorar o intentar mejorar la calidad de vida de muchos niños.
            
            Hace 5 años, tomamos la iniciativa de servir la merienda a los chicos de nuestro barrio ya que veíamos la gran necesidad que nos rodeaba. Comenzamos sirviendo la merienda una vez a la semana a alrededor de 30 chicos del barrio, luego la cantidad de niños fue aumentando, nos vimos obligados a aumentar la cantidad de dias de merienda, lo que hoy nos lleva a contarte que servimos almuerzo y merienda de lunes a sábado a mas de 60 niños, de este barrio y también de barrios aledaños.</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Donar</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Compartir</button>
          </div>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
          <div class="container px-5">
            <img src="bootstrap-docs.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
          </div>
        </div>
      </div>


</body>
